.service{
    background-color: rgb(11, 19, 21);
    .owl-item.active {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service-section1{

        .container{
            padding-top: 150px ;
            height: 550px  ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a{
                font-size: 40px;
                font-weight: 900;
                color: red;
                padding-bottom: 40PX;
            }
            h1{
                font-size: 20px;
                font-weight: 500;
                color: white;
                font-family: 'Times New Roman', Times, serif;
                line-height: 30px;
            }
        }
    }
    .service-section2 {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-top: 150px;
        .images {
            display: flex;
            gap: 10px;
             img {
                width: 300px;
                height: 450px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .service-details {
            flex: 1;
            .service-percent{
            display: flex;
            justify-content: space-between;
            span{
            color: white;
            }
            }
            h2{
                font-size: 35px;
                color: red;
                padding-bottom: 10px;
            }
            p{
                color: white;
                font-size: 20px;
            }
            .bar {
                background: #ddd;
                height: 10px;
                border-radius: 5px;
                margin: 5px 0;
                position: relative;
                margin: 20px 0;
                .fill {
                    background: rgb(99, 9, 9);
                    height: 10px;
                    border-radius: 5px;
                    width: 0;
                    transition: width 1s ease-in-out;
                }
            }
        }
    }
    .service-section3{
            padding-top: 150px ;
            padding-bottom: 150px ;
         img {
         width: 150px;
            height: 100px;
        }
    }
    .service-section4{
        .container{
        padding: 90px 0;
        .row{
            .col-lg-4{
            display: flex ;
            gap: 20px;
            align-items: center;
            img{
                color: red;
            }
            .card-text{
                a{
                        color: white;
                        span{
                            padding-top:20px;  
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
        @media (max-width: 768px) {
        .service-section2{
            flex-direction: column;
            gap: 60px;
            .images{
            // display: flex;
                flex-direction: column;
                width: 100%;
                img{
                    width: 100%;
                
                }
            }
            .service-details{
            h2{
                padding-bottom: 30px;
            }
            }
        }
        .hr-service{
            margin-top: 50px;
        }
            .service-section3{
                padding: 60px 20px 0 20px  ;
                .owl-item.active{
                margin-right: 0 !important;
                }
                }
            .service-section4{
                .container{
                    .row{
                      gap: 30px;
                     .col-lg-4{
                      flex-direction: column !important;
                      text-align: center;
                      padding: 0;
                     }
                    }
                }
              }
        
        }

}