    header{
    width: 100%;
    position: fixed;
    z-index: 2;
    // padding: 0 0 50px 0;
    // background-color: black;
    .header-top{
        padding: 20px 0;
        position: relative;
        &::before{
            content: "";
                position: absolute;
                background-color: white;
                width:100%;
                height: 1px;
                z-index: 4;
                bottom: 5px;
        }
        .container{
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
            .header-top-left{
                    span{
                        font-size: 30px;
                        color: white;
                    }
                }
                .header-top-right{
                display: flex;
                align-items: center;
                gap: 40px;
                    a{
                        color: white;
                        i{
                        padding-right: 10px;
                        }
                    }
                    .line{
                       color: rgb(235, 233, 233);
                      font-size: 30px;
                    }
                }
            }
            }
            .header-bottom{
            padding: 20px 0;
                .container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .header-bottom-left{
                     nav{
                         ul{
                            display: flex;
                            gap: 30px;
                            flex-direction: row;
                            li{
                            a{
                                color: white;
                               text-transform: uppercase;
                            // font-family: 'Times New Roman', Times, serif;
                               
                               &:hover {
                                color: red;
                               }
                            }
                            }
                        }                        
                     }
                    }
                    // @import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
                  

                }
       }
       
       
       
       /* Burger Menü */
       .burger-menu {
           display: none;
           flex-direction: column;
           cursor: pointer;
           i{
               // width: 30px;
               // height: 3px;
               // background-color: white;
               margin: 5px 0;
               transition: 0.4s;
               z-index: 10000;
               color: white;
               font-size: 25px;
           }
       }
        /* RESPONSIVE DESIGN */
    }
    
            /* Mobil Menyu */
            .mobile-menu {
                position: fixed;
                top: 0;
                right: -250px;
                width: 250px;
                height: 100%;
                background: rgba(0, 0, 0, 0.9);
                padding: 20px;
                transition: 0.4s;
                z-index: 1050;
                &.active {
                    right: 0;
                }
                 ul {
                    list-style: none;
                    padding: 0;
                    margin-top: 50px;
                    li {
                        margin-bottom: 20px;
                         a {
                            color: white;
                            text-decoration: none;
                            font-size: 18px;
                        }
                    }
                }
                /* Close düyməsi */
                .close-btn {
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    color: white;
                    font-size: 30px;
                    cursor: pointer;
                }
            }
    
    
    
            
    
    @media (max-width: 768px) {
         .logos{
            display: none;
           
        }
        .header-top-right{
            a{
            font-size: 10px;
            }
        }
        .logo{
        display: flex !important;
            font-size: 25px  !important;
        }
        .header-bottom-left{
        display: none;
        }
        .burger-menu {
            display: flex !important;
        }

        .header-bottom ul {
            display: none; /* Normal menyu gizlənir */
        }
    }
